KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=online_retail

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=online_retail
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DATA_FILE=data/raw/Online Retail.xlsx
CHECKPOINT_LOCATION=/checkpoints/online_retail